---
layout: default
---
<!-- Begin LikeSumo widget code -->
<script src="https://www.likesumo.com/widget/widget.js" async onload="loadLikeSumoWidget('https://www.likesumo.com/widget/Xc6CugRzXSgHsMPzr')"> </script>
<!-- End LikeSumo widget code -->

<div class="home">
  <h1 class="page-heading">Thought Collection</h1>
<!-- Begin LikeSumo embedded widget code -->
<script src="https://www.likesumo.com/widget/widget-embedded.js" async onload="loadLikeSumoEmbeddedWidget('https://www.likesumo.com/widget-embedded/Xc6CugRzXSgHsMPzr')"> </script>
<div id="likesumo-widget-embedded" style="width: 960px;background: transparent; overflow-x: hidden;">
</div>
<!-- End LikeSumo embedded widget code -->
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
         <p class="description">{% if post.description %}{{ post.description | truncate: 250 }}{% else %}{{ post.content | strip_html | truncate: 250 }}{% endif %}</p>
      </li>
    {% endfor %}
  </ul>

</div>
