<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div class="page-container">
      {% include header.html %}
    
      {% include banner.html %}

      <!-- Begin LikeSumo embedded widget code -->
      <script src="https://www.likesumo.com/widget/widget-embedded.js" async onload="loadLikeSumoEmbeddedWidget('https://www.likesumo.com/widget-embedded/Xc6CugRzXSgHsMPzr')"> </script>
      <div id="likesumo-widget-embedded" style="width: 960px;background: transparent; overflow-x: hidden;">
      </div>

      <div class="page-content">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% include footer.html %}
    </div>
  </body>

</html>
